.banner{
  position: relative;
  height: 56vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner::before{
  content: '';
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  left: 0;
  height: 56vh;
  width: 100%;
}


.banner-text-area{
  width: 36%;
  padding: 50px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow-wrap: break-word;
}

.banner-text-area>*{
  z-index: 2;
}

@media (min-width: 768px) {
  .banner{
    justify-content: left;
    /* text-align: left; */
  }
  .banner-text-area div{
    text-align: left;
  }
}
